@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700,800,900");
@import url("https://fonts.googleapis.com/css?family=Old+Standard+TT:400,700|Raleway:300,400,500,600,700,800,900");
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,600,700,900");
@import url("https://fonts.googleapis.com/css?family=Crimson+Text");
@import url("https://fonts.googleapis.com/css?family=Quicksand");
body {
  background-color: #FCFCFC; }

img {
  width: 100%; }

.section {
  overflow: hidden; }

.fp-controlArrow {
  display: none; }

a {
  text-decoration: none; }

.fixed-elements {
  display: flex;
  flex: initial;
  list-style: none;
  margin-left: 0;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  position: fixed;
  width: 100%;
  height: 100%;
  background: url("/assets/images/circle-bg.svg");
  background-size: cover; }
  .fixed-elements > * {
    padding-left: 0; }

.fixed-square {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.15);
  width: 90%;
  height: 85%;
  transition: background ease-in-out .2s;
  margin-top: 10%; }
  .fixed-square.active {
    background: #B28C5F; }
  @media only screen and (min-width: 49em) {
    .fixed-square {
      box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.15);
      width: 80%;
      height: 70%;
      margin-top: 0px; } }
  .fixed-square__container {
    width: 90%;
    height: 85%;
    position: fixed;
    overflow: hidden; }
    @media only screen and (min-width: 49em) {
      .fixed-square__container {
        width: 80%;
        height: 70%;
        margin-top: 0; } }

.brand {
  width: 165px;
  height: 33px;
  background: url("/assets/images/logo-ap-comunicacao.svg");
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  top: 15px;
  left: 30px;
  z-index: 100; }
  @media only screen and (min-width: 49em) {
    .brand {
      top: 30px;
      left: 30px;
      width: 100%;
      height: 50px;
      background-size: auto 100%; } }

.product-list-container {
  display: flex;
  width: 100%;
  margin: 0 auto;
  height: 100%;
  flex-direction: column;
  background-color: #f1f1f1;
  align-items: center;
  justify-content: center;
  padding: 100px 20px; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  color: inherit;
  outline: 0; }

@keyframes moveUp {
  0% {
    opacity: 0;
    transform: translate(-50%, -10%); }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%); } }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

body {
  font-family: "Roboto", sans-serif; }

strong, b, dt {
  font-weight: bold; }

code, kbd, samp {
  color: #64bd2e;
  font-family: "Bitstream Vera Sans Mono", Consolas, Courier, monospace; }

pre {
  white-space: pre;
  word-wrap: normal;
  overflow: auto;
  background-color: #4A4A4A;
  border-radius: 3px; }
  pre,
  pre code, pre kbd, pre samp {
    color: #fff; }

hr {
  border: none;
  border-bottom: 1px solid #ddd; }

pre mark {
  background: none;
  border-bottom: 1px solid;
  color: inherit; }

p {
  font-family: "Roboto", sans-serif; }

h1 {
  font-size: 2.3em;
  line-height: 1.1;
  font-weight: 500;
  letter-spacing: -0.05em; }
  @media only screen and (min-width: 49em) {
    h1 {
      font-size: 5em; } }

h2 {
  font-size: 1em;
  line-height: 1.3;
  font-weight: 400; }
  @media only screen and (min-width: 49em) {
    h2 {
      font-size: 1.3em; } }

.container {
  max-width: 1140px;
  margin: 0 auto;
  position: relative; }

.form {
  padding: 20px; }
  .form__row {
    display: block;
    margin: 20px 0; }
  .form__label {
    font-weight: 300;
    display: block;
    margin-bottom: 10px; }
  .form__input {
    border: 3px solid #94C9DB;
    height: 45px;
    padding: 0 20px;
    font-size: 16px; }
  .form__button {
    border: none;
    background: none;
    position: relative;
    padding: 20px 30px;
    color: #FF9E82;
    font-size: 20px;
    font-weight: 500; }
    .form__button::after {
      content: "";
      top: 0px;
      left: 15%;
      right: 0px;
      height: 3px;
      background: #FF9E82;
      position: absolute; }
    .form__button::before {
      content: "";
      bottom: 0px;
      left: 0;
      right: 15%;
      height: 3px;
      background: #FF9E82;
      position: absolute; }
    .form__button.border {
      cursor: pointer;
      border: 2px solid #FF9E82;
      transition: all ease-in-out .2s; }
      .form__button.border:hover {
        background: #FF9E82;
        color: white; }

.float-nav {
  position: absolute;
  width: 200px;
  padding: 20px;
  background: white;
  border-radius: 3px;
  border: 1px solid #ddd;
  transform: translateX(-50%);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  z-index: 10000; }
  .float-nav__item {
    border-bottom: 1px solid #ddd;
    padding: 10px 20px;
    font-size: 13px;
    cursor: pointer; }
    .float-nav__item:hover {
      background: #f7f7f7; }
    .float-nav__item:last-child {
      border-bottom: none; }
    .float-nav__item.warning {
      color: #ff223e; }

.copyright {
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  padding: 20px;
  width: 100%;
  background: #3d3d3d;
  font-size: 13px;
  text-align: center;
  color: white;
  font-weight: 300; }

.checkout-container {
  display: flex;
  flex: initial;
  list-style: none;
  margin-left: 0;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  border: 1px solid rgba(68, 68, 68, 0.2);
  max-width: 1140px;
  margin: 0 auto;
  position: relative;
  background: rgba(68, 68, 68, 0.02);
  margin-bottom: 60px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.1); }
  .checkout-container > * {
    padding-left: 0; }
  .checkout-container:hover, .checkout-container:focus, .checkout-container::selection {
    border: 1px solid rgba(68, 68, 68, 0.2);
    margin: 0 auto;
    position: relative;
    background: rgba(68, 68, 68, 0.02);
    margin-bottom: 60px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.1); }
  .checkout-container .order-button {
    margin-top: 40px;
    border-radius: 3px; }
    .checkout-container .order-button:hover, .checkout-container .order-button:focus, .checkout-container .order-button::selection {
      margin-top: 40px;
      border-radius: 3px; }

.ReactModal__Overlay {
  display: flex;
  flex: initial;
  list-style: none;
  margin-left: 0;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; }
  .ReactModal__Overlay > * {
    padding-left: 0; }

.modal {
  box-sizing: border-box;
  flex-shrink: 0;
  width: 41.66667%;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.35);
  background: white;
  border: 1px solid white;
  width: 50% !important; }
  .modal__container {
    padding: 40px;
    display: flex;
    flex: initial;
    list-style: none;
    margin-left: 0;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap; }
    .modal__container > * {
      padding-left: 0; }
  .modal__title {
    font-size: 24px;
    font-weight: 300;
    color: #4A4A4A; }
  .modal__input {
    box-sizing: border-box;
    flex-shrink: 0;
    width: 45.83333%;
    margin: 10px 0 0; }
    .modal__input p {
      font-size: 13px;
      margin-bottom: 5px; }
    .modal__input input {
      height: 35px;
      width: 100%;
      font-size: 13px;
      padding: 10px; }
  .modal__cta {
    display: flex;
    flex: initial;
    list-style: none;
    margin-left: 0;
    justify-content: flex-end;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-top: -20px; }
    .modal__cta > * {
      padding-left: 0; }
    .modal__cta button {
      cursor: pointer;
      display: inline-flex;
      background: #B28C5F;
      padding: 10px 20px;
      color: white;
      border: none;
      border-radius: 3px;
      font-size: 13px; }
  .modal__text-error {
    color: red; }

.blog-call {
  background: #5d1eb2;
  color: white;
  font-size: 12px;
  font-weight: 100;
  padding: 8px;
  text-align: center; }
  .blog-call span {
    font-size: 14px;
    font-weight: 500; }
  .blog-call b {
    margin-left: 5px;
    background: #B28C5F;
    padding: 3px 10px;
    font-weight: 300;
    border-radius: 3px; }

.blog {
  display: flex;
  flex: initial;
  list-style: none;
  margin-left: 0;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  background: #ddd;
  height: 100%;
  width: 100%;
  background: white; }
  .blog > * {
    padding-left: 0; }
  .blog__background {
    background: linear-gradient(-180deg, #444 0%, #2B2B2B 100%);
    width: 100%;
    height: 300px; }
    @media only screen and (min-width: 49em) {
      .blog__background {
        height: 500px; } }
    .blog__background--brown {
      background: linear-gradient(85.86deg, #B28C5F 0%, #DCAC71 100%); }
    .blog__background--height {
      height: 900px; }
      @media only screen and (min-width: 49em) {
        .blog__background--height {
          height: 500px; } }
  .blog__image {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: inherit;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start; }
    .blog__image h1 {
      font-family: Crimson Text;
      font-style: italic;
      font-weight: normal;
      line-height: 95px;
      text-align: center;
      color: #FFFFFF;
      width: 100%;
      font-size: 40px; }
      @media only screen and (min-width: 49em) {
        .blog__image h1 {
          font-size: 70px; } }
    .blog__image img {
      width: 100%;
      margin-top: 2em; }
  .blog__body {
    font-size: 13px;
    line-height: 1.6em;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    top: -120px;
    margin: 0;
    padding: 20px;
    max-width: 460px; }
    @media only screen and (min-width: 49em) {
      .blog__body {
        max-width: 960px;
        margin: 10px 40px 0;
        padding: 50px; } }
    .blog__body--top-200 {
      top: -200px; }
  .blog__description {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 37px;
    text-align: center;
    color: #626262;
    width: 100%; }
    @media only screen and (min-width: 49em) {
      .blog__description {
        width: 70%; } }
    .blog__description div {
      width: 100%;
      margin-bottom: 2em; }
    .blog__description img {
      width: 100%; }
    .blog__description--align-left {
      text-align: left; }
  .blog__icon-container {
    display: flex;
    align-items: center;
    justify-items: center;
    height: 60px; }
  .blog__icon {
    width: 100%;
    height: 100%; }
  .blog__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 45%;
    flex-direction: column; }
    @media only screen and (min-width: 49em) {
      .blog__title {
        flex-direction: row; } }
    .blog__title img {
      width: 200px; }
  .blog__subtitle {
    font-family: Quicksand;
    font-style: normal;
    font-weight: 500;
    line-height: 49px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #FFE9CE;
    width: 100%;
    font-size: 20px; }
    @media only screen and (min-width: 49em) {
      .blog__subtitle {
        width: 87%;
        font-size: 30px; } }
  .blog__texts {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 1em 0; }
    @media only screen and (min-width: 49em) {
      .blog__texts {
        padding: 0; } }
  .blog__highlight-text {
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;
    font-family: Crimson Text;
    font-style: italic;
    font-weight: normal;
    font-size: 20px;
    line-height: 56px;
    text-align: center;
    color: #765630;
    width: 75% !important; }
    .blog__highlight-text span {
      font-weight: bold;
      width: 100%; }
    .blog__highlight-text img {
      width: 30px; }

.brand-bar {
  display: flex;
  flex: initial;
  list-style: none;
  margin-left: 0;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px 20px;
  border-top: 1px solid #ddd; }
  .brand-bar > * {
    padding-left: 0; }
  .brand-bar__menu {
    display: flex;
    flex: initial;
    list-style: none;
    margin-left: 0;
    justify-content: flex-end;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: flex-start; }
    .brand-bar__menu > * {
      padding-left: 0; }
    .brand-bar__menu sm {
      box-sizing: border-box;
      flex-shrink: 0;
      width: 16.66667%; }
  .brand-bar__menu-link {
    padding: 10px 16px;
    font-size: 11px;
    border: 2px solid white;
    transition: all ease-in-out .2s;
    cursor: pointer;
    font-weight: bold;
    color: black; }
    .brand-bar__menu-link sm {
      box-sizing: border-box;
      flex-shrink: 0;
      width: 50%; }
    .brand-bar__menu-link.active, .brand-bar__menu-link:hover {
      border: 2px solid #B28C5F; }
  .brand-bar__social-links {
    box-sizing: border-box;
    flex-shrink: 0;
    width: 28.57143%;
    display: flex;
    flex: initial;
    list-style: none;
    margin-left: 0;
    align-items: flex-start;
    flex-wrap: wrap; }
    .brand-bar__social-links > * {
      padding-left: 0; }
  .brand-bar__social-link {
    padding-right: 5px;
    width: 30px; }
  .brand-bar__brand {
    text-align: center;
    box-sizing: border-box;
    flex-shrink: 0;
    width: 21.42857%;
    max-width: 80px;
    cursor: pointer; }
  .brand-bar__links {
    box-sizing: border-box;
    flex-shrink: 0;
    width: 14.28571%;
    width: 250px;
    display: flex;
    flex: initial;
    list-style: none;
    margin-left: 0;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: flex-start; }
    .brand-bar__links > * {
      padding-left: 0; }
    @media only screen and (min-width: 49em) {
      .brand-bar__links {
        display: flex;
        flex: initial;
        list-style: none;
        margin-left: 0;
        justify-content: flex-end;
        align-items: flex-start;
        flex-wrap: wrap; }
        .brand-bar__links > * {
          padding-left: 0; } }
  .brand-bar__link {
    text-align: center;
    margin-left: 10px;
    cursor: pointer; }
  .brand-bar__link-icon {
    width: 16px;
    margin: 0 auto; }
  .brand-bar__link-name {
    color: #B28C5F;
    font-weight: 900;
    font-size: 10px;
    text-transform: uppercase;
    font-weight: 300;
    cursor: pointer;
    margin-top: 5px;
    font-family: "Roboto", sans-serif; }

.footer {
  background: #eaeaea;
  color: #4A4A4A; }
  .footer__brand {
    max-width: 80px; }
  .footer__container {
    display: flex;
    flex: initial;
    list-style: none;
    margin-left: 0;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    max-width: 1240px;
    padding: 40px 0;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.8em;
    margin: 0 auto; }
    .footer__container > * {
      padding-left: 0; }
  .footer__title {
    font-weight: 500;
    margin-bottom: 20px;
    text-transform: uppercase; }
  .footer__paragraph {
    font-size: 13px; }
  .footer__link {
    cursor: pointer; }
  .footer__social-list {
    display: flex;
    flex: initial;
    list-style: none;
    margin-left: 0;
    align-items: flex-start;
    flex-wrap: wrap; }
    .footer__social-list > * {
      padding-left: 0; }
  .footer__social-item {
    cursor: pointer;
    border-radius: 50%;
    margin-right: 10px; }
  .footer__phone {
    display: flex;
    flex: initial;
    list-style: none;
    margin-left: 0;
    align-items: flex-start;
    flex-wrap: wrap;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    margin-top: 5px;
    padding-top: 10px; }
    .footer__phone > * {
      padding-left: 0; }
  .footer__phone-icon {
    margin-right: 10px;
    width: 25px; }

.ant-badge-count {
  margin-left: 10px;
  height: 15px;
  width: 15px;
  line-height: 15px;
  font-size: 11px;
  min-width: inherit;
  padding: 0px; }

.header__container {
  display: flex;
  flex: initial;
  list-style: none;
  margin-left: 0;
  align-items: flex-start;
  flex-wrap: wrap;
  max-width: 1240px;
  margin: 20px auto; }
  .header__container > * {
    padding-left: 0; }

.header__box {
  display: flex;
  flex: initial;
  list-style: none;
  margin-left: 0;
  align-items: flex-start;
  flex-wrap: wrap; }
  .header__box > * {
    padding-left: 0; }

.header__logo {
  display: flex;
  flex: initial;
  list-style: none;
  margin-left: 0;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 100%;
  cursor: pointer; }
  .header__logo > * {
    padding-left: 0; }
  .header__logo img {
    max-width: 200px;
    padding: 10px 0; }

.header__navbar {
  width: 100%;
  display: flex;
  flex: initial;
  list-style: none;
  margin-left: 0;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap; }
  .header__navbar > * {
    padding-left: 0; }

.header__cart-box-container {
  display: flex;
  flex: initial;
  list-style: none;
  margin-left: 0;
  align-items: center;
  flex-wrap: wrap;
  cursor: pointer; }
  .header__cart-box-container > * {
    padding-left: 0; }

.header__menu {
  box-sizing: border-box;
  flex-shrink: 0;
  width: 79.16667%;
  display: flex;
  flex: initial;
  list-style: none;
  margin-left: 0;
  align-items: center;
  flex-wrap: wrap; }
  .header__menu > * {
    padding-left: 0; }

.header__menu-item {
  margin-right: 20px;
  font-size: 14px;
  color: #005F73;
  font-weight: 300;
  text-transform: uppercase;
  border-right: 1px solid rgba(0, 95, 115, 0.2);
  padding-right: 20px;
  cursor: pointer;
  margin-top: 20px; }
  .header__menu-item:hover {
    text-decoration: underline;
    color: #212121; }

.header__user-menu {
  display: flex;
  flex: initial;
  list-style: none;
  margin-left: 0;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  box-sizing: border-box;
  flex-shrink: 0;
  width: 20.83333%; }
  .header__user-menu > * {
    padding-left: 0; }

.header__icon-image {
  font-size: 20px; }

.header__icon-text {
  margin-left: 20px;
  font-size: 14px; }

.header__icon {
  font-size: 20px; }

.header__profile-menu {
  margin-left: 20px;
  border-radius: 5px;
  border: 1px solid #B28C5F;
  padding: 10px 20px;
  cursor: pointer;
  transition: all ease-in-out .2s; }
  .header__profile-menu:hover {
    background: #ece3d8; }
  .header__profile-menu__icon {
    text-align: center; }
  .header__profile-menu__text {
    font-size: 12px;
    margin-top: 5px; }

.ant-badge {
  line-height: 1.2;
  margin-right: 10px; }

.post-show {
  display: flex;
  flex: initial;
  list-style: none;
  margin-left: 0;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  background: #ddd; }
  .post-show > * {
    padding-left: 0; }
  .post-show__image {
    background: black;
    width: 100%;
    height: 300px;
    background-size: cover;
    background-position: center; }
  .post-show__title {
    font-size: 1.6em;
    color: white;
    font-weight: 100;
    transform: translateY(-100%);
    padding: 40px 40px;
    text-align: center;
    width: 100%;
    background-image: linear-gradient(-180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 97%); }
  .post-show__description {
    max-width: 960px;
    margin: -90px 40px 0;
    font-size: 13px;
    line-height: 1.6em;
    padding: 50px;
    background: white; }
    .post-show__description p {
      margin: 20px 0; }
    .post-show__description__image {
      background: black;
      width: 100%;
      height: 370px;
      background-size: cover;
      background-position: center; }
  .post-show__cta {
    width: 100%;
    padding: 15px 30px;
    background: #B28C5F;
    margin-top: 20px;
    text-align: center;
    color: white;
    transition: all ease-in-out .2s; }
    .post-show__cta:hover {
      background: black;
      color: white;
      cursor: pointer; }

.posts {
  display: flex;
  flex: initial;
  list-style: none;
  margin-left: 0;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  background: #ddd; }
  .posts > * {
    padding-left: 0; }

.posts-list {
  max-width: 1100px; }

.post {
  display: flex;
  width: 100%;
  background: white;
  justify-content: space-between;
  flex-direction: column;
  height: auto;
  padding: 1em 0; }
  @media only screen and (min-width: 49em) {
    .post {
      padding: 0;
      height: 500px;
      flex-direction: row;
      margin-bottom: 50px; } }
  .post--reverse {
    display: flex;
    flex-direction: column; }
    @media only screen and (min-width: 49em) {
      .post--reverse {
        flex-direction: row-reverse; } }
  .post__body {
    display: flex;
    flex-direction: column;
    height: 80%;
    justify-content: space-between;
    width: 100%; }
    @media only screen and (min-width: 49em) {
      .post__body {
        width: 40%; } }
  .post__image {
    background-size: cover;
    background-position: center;
    background-size: 100% 100%;
    width: 100%;
    height: 300px; }
    @media only screen and (min-width: 49em) {
      .post__image {
        height: 100%;
        width: 50%; } }
  .post__title {
    font-family: Quicksand;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #4A4A4A;
    font-size: 22px; }
    @media only screen and (min-width: 49em) {
      .post__title {
        font-size: 42px; } }
  .post__date {
    font-family: Crimson Text;
    font-style: italic;
    font-weight: bold;
    line-height: normal;
    text-transform: uppercase;
    color: #B28C5F;
    font-size: 22px; }
    @media only screen and (min-width: 49em) {
      .post__date {
        font-size: 32px; } }
  .post__description {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 37px;
    color: #626262;
    font-size: 15px; }
    @media only screen and (min-width: 49em) {
      .post__description {
        font-size: 17px; } }
  .post__cta {
    font-family: Quicksand;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    text-align: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #000000;
    border: 3px solid #000000;
    box-sizing: border-box;
    cursor: pointer;
    width: 150px;
    font-size: 20px; }
    @media only screen and (min-width: 49em) {
      .post__cta {
        width: 200px;
        font-size: 24px; } }

.registration-container {
  background-image: linear-gradient(-180deg, #444 0%, #2B2B2B 100%);
  padding: 100px 0;
  display: flex;
  flex: initial;
  list-style: none;
  margin-left: 0;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap; }
  .registration-container > * {
    padding-left: 0; }

.registration-form {
  background: white;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
  display: flex;
  flex: initial;
  list-style: none;
  margin-left: 0;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 20px;
  box-sizing: border-box;
  flex-shrink: 0;
  width: 83.33333%; }
  .registration-form > * {
    padding-left: 0; }
  @media only screen and (min-width: 49em) {
    .registration-form {
      padding: 60px;
      box-sizing: border-box;
      flex-shrink: 0;
      width: 50%; } }

.registration-text-error {
  color: red; }

.registration-container-input {
  margin-bottom: 20px;
  box-sizing: border-box;
  flex-shrink: 0;
  width: 45.83333%; }
  .registration-container-input input, .registration-container-input select {
    width: 100%;
    font-size: 13px;
    padding: 10px;
    height: 35px;
    box-shadow: none;
    border: none;
    background: none;
    background-image: none;
    -webkit-appearance: none;
    border: 1px solid #ddd;
    border-radius: 0; }
    .registration-container-input input:focus, .registration-container-input select:focus {
      outline: 1px solid #B28C5F; }
  .registration-container-input p, .registration-container-input label {
    font-size: 12px;
    margin-bottom: 5px; }
  .registration-container-input--full {
    box-sizing: border-box;
    flex-shrink: 0;
    width: 100%; }

.registration-container-checkbox {
  font-size: 12px;
  margin: 10px 0 5px;
  box-sizing: border-box;
  flex-shrink: 0;
  width: 100%; }
  .registration-container-checkbox label {
    margin-left: 10px; }

.registration-buttons {
  margin-top: 20px; }
  .registration-buttons button {
    background: #B28C5F;
    padding: 10px 20px;
    color: white;
    border: none;
    font-size: 12px;
    border-radius: 3px;
    cursor: pointer; }
  .registration-buttons .back-registration-button {
    background: #ddd;
    color: #212121;
    margin-right: 10px;
    cursor: pointer; }

.Toastify__toast--success {
  background: #B28C5F; }
